<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo M&eacute;xico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:400,700" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="login-row row">
      <div class="login-link text-right">
        {% if 'username' not in session %}
          <a href="{{ url_for('showLogin') }}">Login</a>
        {% else %}
          <a href="{{ url_for('disconnect') }}">Disconnect</a>
        {% endif %}
      </div>
    </div>
    <div class="title-row row">
      <div class="title text-center">
        <h1><a href="{{ url_for('showPlaceTypes') }}">Nuevo M&eacute;xico</a></h1>
        <h4>A simple app to help you find the best of New Mexico</h4>
      </div>
    </div>
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <div class="about-row text-center">
        <div class="about-link">
          <p><a href="{{ url_for('showAbout') }}">About Nuevo M&eacute;xico</a></p>
        </div>
      </div>
        <div class="social">
          <a href="https://www.facebook.com/" class="brandico-facebook-rect"></a>
          <a href="https://twitter.com/" class="brandico-twitter-bird"></a>
          <a href="https://www.instagram.com" class="brandico-instagram-filled"></a>
        </div>
    </footer>
  </div>
</body>
</html>


<!-- SOURCE -->

<!-- I learned how to do build base and child templates from the sample Udacity main.html file as well as the jinja Template Designer Documentation. -->
