{% extends "base.html" %}
{% block content %}

<div class="action-message-row row">
  <div class="action-message col-xs-11 col-sm-9 col-md-8 ctr-block">
    <p>To edit the <strong>{{ place.name }}</strong> item, type the revised details in the form below and click the update button.</p>
  </div>
</div>

<div class="action-form-row row">
  <div class="action-form col-xs-11 col-sm-9 col-md-8 ctr-block">
    <form action="{{ url_for('editPlace', placeType_id = placeType.id, place_id = place.id) }}" method="POST">
      <input type="text" size="40" name="name" value="{{ place.name }}"><br>
      <input type="text" size="40" name="description" value="{{ place.description }}"><br>
      <input type="radio" name="location" value="Albuquerque area"> Albuquerque area<br>
      <input type="radio" name="location" value="Northern New Mexico"> Northern New Mexico<br>
      <input type="radio" name="location" value="Santa Fe area"> Santa Fe area<br>
      <input type="radio" name="location" value="Southern New Mexico"> Southern New Mexico<br>
      <input type="text" size="40" name="price" value="{{ place.price }}"><br>
      <input type="text" size="40" name="link" value="{{ place.link }}"><br><br>
      <button type="submit" class="btn btn-default green-button" role="button">UPDATE</button> <a href="{{ url_for('showPlaces', placeType_id = placeType.id) }}" class="btn btn-default" role="button">CANCEL</a>
    </form>
  </div>
</div>

{% endblock %}
