{% extends "base.html" %}
{% block content %}

<div class="action-message-row row">
  <div class="action-message col-xs-11 col-sm-9 col-md-8 ctr-block">
    <p>To create a new type of place to visit in New Mexico, type the name of the type of place in the form below and click the create button.</p>
  </div>
</div>

<div class="action-form-row row">
  <div class="action-form col-xs-11 col-sm-9 col-md-8 ctr-block">
    <form action="{{ url_for('newPlaceType') }}" method="POST">
      <input type="text" size="40" name="name" placeholder="Name"><br><br>
      <button type="submit" class="btn btn-default green-button" role="button">CREATE</button> <a href="{{ url_for('showPlaceTypes') }}" class="btn btn-default" role="button">CANCEL</a>
    </form>
  </div>
</div>

{% endblock %}
